<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="studentEntities" connectionString="metadata=res://*/BlogModel.csdl|res://*/BlogModel.ssdl|res://*/BlogModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-A771BTH;initial catalog=student;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>